<form (ngSubmit)="submit()" [formGroup]="form">
    
    <mat-dialog-content class="mat-typography">

        <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput formControlName="label" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Canal discord</mat-label>
            <mat-select formControlName="discordChannel">
                @for (channel of channels; track channel) {
                <mat-option [value]="channel.id">{{channel.label}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Catégorie Guildi</mat-label>
            <mat-select formControlName="category">
                @for (category of categories; track category) {
                <mat-option [value]="category">{{category}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="reset" matButton mat-dialog-close>Annuler</button>
        <button type="submit" matButton [mat-dialog-close]="true">Enregistrer</button>
    </mat-dialog-actions>

</form>
